@import "tailwindcss";

@theme {
  /* Настройка цветов (будут доступны как text-brand, bg-brand и т.д.) */
  --color-brand: #3b82f6;
  --color-dark: #1e293b;
  --font-family-sans: "Inter", sans-serif;
  --spacing-128: 32rem;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}
